@page
@model MovieCrud.Pages.CreateModel
@{
    ViewData["Title"] = "Create a Movie";
}
<center><h1 class="bg-info text-white">Film Ekle</h1></center>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Movies.Name"></label>
        <input type="text" asp-for="@Model.Movies.Name" class="form-control" />
        <span asp-validation-for="@Model.Movies.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Movies.Actors"></label>
        <input type="text" asp-for="@Model.Movies.Actors" class="form-control" />
        <span asp-validation-for="@Model.Movies.Actors" class="text-danger"></span>
    </div>
    <center> <button type="submit" class="btn btn-primary">Ekle</button> </center>
</form>